sandbox/example.json
[
  {
      "id": "5fa403ad.ee22ac",
      "type": "tab",
      "label": "Flow 1",
      "disabled": false,
      "info": ""
  },
  {
      "id": "a5c79308.b82a4",
      "type": "inject",
      "z": "5fa403ad.ee22ac",
      "name": "",
      "topic": "",
      "payload": "{\"accountId\":\"jefferson\",\"personalFoulCount\":6,\"gameDuration\":40,\"gameMonth\":\"June\",\"inSeason\":[\"May\",\"June\",\"July\",\"August\",\"September\"]}",
      "payloadType": "json",
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "x": 230,
      "y": 280,
      "wires": [
          [
              "75744874.93ef98"
          ]
      ]
  },
  {
      "id": "9e57eb11.f47c88",
      "type": "debug",
      "z": "5fa403ad.ee22ac",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "targetType": "full",
      "x": 650,
      "y": 280,
      "wires": []
  },
  {
      "id": "75744874.93ef98",
      "type": "json-rules",
      "z": "5fa403ad.ee22ac",
      "name": "",
      "rules": "{\"rules\":[{\"conditions\":{\"any\":[{\"all\":[{\"fact\":\"gameDuration\",\"operator\":\"equal\",\"value\":40},{\"fact\":\"personalFoulCount\",\"operator\":\"greaterThanInclusive\",\"value\":5},{\"fact\":\"gameMonth\",\"operator\":\"in\",\"value\":{\"fact\":\"inSeason\"}}]},{\"all\":[{\"fact\":\"gameDuration\",\"operator\":\"equal\",\"value\":48},{\"fact\":\"personalFoulCount\",\"operator\":\"greaterThanInclusive\",\"value\":6}]}]},\"event\":{\"type\":\"fouledOut\",\"params\":{\"message\":\"Player has fouled out!\"}}},{\"conditions\":{\"all\":[{\"fact\":\"account-information\",\"operator\":\"equal\",\"value\":\"microsoft\",\"path\":\"$.company\"},{\"fact\":\"account-information\",\"operator\":\"equal\",\"value\":\"terminated\",\"path\":\"$.status\"}]},\"event\":{\"type\":\"microsoft-terminated-employees\",\"params\":{\"message\":\"Employee has been terminated as employee of Microsoft\"}}},{\"conditions\":{\"all\":[{\"fact\":\"employee-tenure\",\"operator\":\"greaterThanInclusive\",\"value\":10,\"params\":{\"unit\":\"years\"}}]},\"event\":{\"type\":\"ten-year-tenure\",\"params\":{\"message\":\"Employee has ten years or more of employement.\"}}}]}",
      "rulesType": "json",
      "x": 450,
      "y": 280,
      "wires": [
          [
              "9e57eb11.f47c88"
          ]
      ]
  }
]
